// Colors
$cl-cape-cod: #4B5050;
$cl-corduroy: #646868;
$cl-mariner: #2B7AC0;
$cl-silver-sand: #CACBCC;
$cl-white: #ffffff;
$cl-red: #ff2528;

// Font Size, Base 16px
$size-12: 0.75rem;
$size-14: 0.875rem;
$size-28: 1.75rem;

// Media Queries
// Sizes
$mobile: 600px;
$tablet: 1024px;
$desktop: 1140px;
